$color-lightgray: #cfcfcf;
$color-denim: #1a76ac;
$color-oldrose: #BF2857;
$color-white: #fff;
$color-grey: #808080;
$color-lightgrey: #d0d0d0;
$color-darkgray: #a6a6a6;
$color-suvaGrey: #888585;
$color-whitesmoke: #f2f2f2;
$color-darkpink: #ec536c;
$color-black: #000000;
$color-lightblack: #00000099;
$color-red: #ff0000;
$color-prim: #EADAE4;
$color-silver: #bbb;
$color-empress: #737373;
$color-boulder: #7B847B;
$color-gainsboro: #E5E2E2;
$color-snow: #fffdfd;
$color-lightred: #d6445c;
$color-eclipse: #383737;